section {
  border: solid black 1px;
  display: inline-block;
}
p {
  background-color: lightgreen;
  border: solid black 5px;
  margin: 15px;
  padding: 30px;
  width: 300px;
  display: inline-block;
}
