<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <section class="basic">
      <div>
        <h3>Lorem, ipsum.</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ab
          voluptas ea? Perferendis suscipit, quam quia labore exercitationem
          culpa dicta?
        </p>
      </div>
      <img src="./assets/img/324865.jpg" alt="" />
    </section>
  </body>
</html>
