h1 {
  font-size: 48px;
  background-color: grey;
  color: white;
  text-shadow: 10px, 10px, 10px, black;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

article:first-child p:nth-of-type(1) {
  text-indent: 50px;
  word-spacing: 10px;
  font-family: Lucida Sans Unicode;
}
article:first-child p:nth-of-type(2) {
  text-indent: 55px;
  font-family: Lucida Sans Unicode;
}

span:first-child {
  font-weight: bold;
}
span:last-child {
  font-style: italic;
}

h2 {
  letter-spacing: 10px;
  text-shadow: 20px, 20px, 20px, black;
}

article:last-child p:nth-of-type(1) {
  background-color: darkgrey;
}

article:last-child p:nth-of-type(2) {
  background-color: black;
  color: white;
}
