header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  padding: 0 2vw;
  color: black;
}

.dark {
  background-color: darkgray;
  color: white;
}
.dark a {
  color: white;
}
