.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  background-color: rgb(157, 239, 212);
  padding: 20px;
}

.hero div {
  width: 50vw;
}

.hero img {
  width: 50vw;
}

.revers-box {
  flex-direction: row-reverse;
}
