/* "*" spricht alle Elemente im HTML an */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li:first-of-type h5 {
  color: purple;
}

li:nth-of-type(2) h5 {
  color: green;
}

li:last-of-type h5 {
  color: orange;
}

main section:nth-of-type(1) {
  background-color: khaki;
  width: 100px;
  height: 200px;
}

main section div {
  width: 100px;
  border: solid black 10px;
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

footer div {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  border: solid greenyellow 10px;
}

footer div:nth-of-type(1) {
  margin: 20px 40px;
  /* margin: auto; */
  /* zum zentrieren */
  /* 
  verschiedene Schreibweisen: 
  margin: 10px;

  margin: 10px 20px;

  margin: 10px 10px 20px 20px;

  margin-top: 10px;
  margin-right: 10px;
  margin.bottom: 20px;
  margin-left: 10px;
  */
}

footer div:nth-of-type(2) {
  padding: 20px 40px;
}

footer section p {
  background-color: aqua;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
}
