p {
  border: 2px solid yellow;
}
p::before {
  content: "Info";
  background-color: yellow;
}
p::after {
  content: "❤";
  color: yellow;
}
p::selection {
  text-decoration: underline;
  color: yellow;
}
