* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

/* Header Custom */

.cap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  background-color: #274ea9;
  border-radius: 20px 20px 0 0;
  width: 40vw;
  height: 5vh;
  padding: 20px;
  color: white;
}

.cap h2 {
  font-size: 20px;
}
.cap p {
  font-size: 12px;
  font-weight: 80;
}

/* Form Custom */
section {
  width: 40vw;
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 255, 0.2);
}

h3 {
  color: blue;
  font-weight: lighter;
  position: relative;
}

h3:nth-of-type(1)::before {
  content: "1";
  position: absolute;
  left: -30px;
  color: white;
  background-color: #274ea9;
  border-radius: 100px;
  width: 22px;
  text-align: center;
}

h3:nth-of-type(2)::before {
  content: "2";
  position: absolute;
  left: -30px;
  color: white;
  background-color: #274ea9;
  border-radius: 100px;
  width: 22px;
  text-align: center;
}

h3:nth-of-type(3)::before {
  content: "3";
  position: absolute;
  left: -30px;
  color: white;
  background-color: #274ea9;
  border-radius: 100px;
  width: 22px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 10vh;
  background-color: rgb(225, 225, 225);
}

.info input {
  padding: 5px 0 5px 0;
}

div label {
  color: gray;
  font-size: 12px;
}

/* bottom custom */

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

input[type="submit"] {
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}

.check {
  font-size: 10px;
  letter-spacing: -1px;
}
