img:nth-of-type(1) {
  height: 10px;
}
img:nth-of-type(2) {
  height: 50%;
  width: 50%;
}
img:nth-of-type(3) {
  height: 20em;
  width: 20em;
}
img:nth-of-type(4) {
  height: 40rem;
}
img:nth-of-type(5) {
  width: 75vh;
}
img:nth-of-type(6) {
  height: 40vw;
}
