.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  color: #afafd0;
  font-size: 40px;
  margin-bottom: 20px;
}

.header h1 span {
  color: #90a0d9;
}

.header h2 {
  color: #bbbbdc;
  margin-bottom: 20px;
}

.header p {
  color: #afafd0;
  width: 80ch;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header a {
  color: #8694cb;
  text-decoration: none;
  border: 1px solid #8694cb;
  padding: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
